.flex-3c-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px;
}

.flex-3c__box,
.flex-3c-row > * {
    width: calc(33.33% - 30px);
    margin: 15px;

    @include media("<desktop") {
        width: calc(50% - 30px);
    }

    @include media("<tablet") {
        width: 100%;
    }
}
